.header__logo {
    max-width: 173px;
    margin: 0 0 41px;
    object-fit: cover;
}

@media screen and (max-width: 650px) {
    .header__logo {
        max-width: 126px;
        margin: 0 0 32px 27px;
    }
}