.profile__profession {
    max-width: 415px;
    width: 100%;
    margin: 16px 0 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 650px) {
    .profile__profession {
        margin-top: 14px;
        max-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .profile__profession {
        font-size: 14px;
    }
}