.popup__title {
    max-width: 330px;
    margin: 0 0 54px;
    line-height: 1;
    font-size: 24px;
    font-weight: 900;
}

@media screen and (max-width: 650px) {
    .popup__title {
        max-width: 238px;
        font-size: 18px;
        margin-bottom: 76px;
    }
}