.profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: white 1px solid;
    align-self: center;
    background: url('../../../images/edit-button.svg') center no-repeat;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}