.profile__avatar-container {
    min-width: 120px;
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 50%;
    display: flex;
    position: relative;
}

.profile__avatar-container:hover .profile__avatar-overlay {
    background-color: rgba(0, 0, 0, .8);
}

.profile__avatar-container:hover .profile__avatar-button {
    visibility: visible;
}