.footer {
    max-width: 880px;
    width: 100%;
    margin: 68px auto 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 650px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        max-width: 320px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
    }
}