.element__delete-button {
    max-width: 18px;
    width: 100%;
    padding-bottom: 100%;
    margin: 0;
    background: url('../../../images/delete-button.svg') no-repeat;
    background-size: contain;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 15px;
    border: none;
}