.profile__info-container {
    max-width: 415px;
    width: 100%;
    margin: 0 165px 0 30px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .profile__info-container {
        margin-right: 100px;
    }
}

@media screen and (max-width: 910px) {
    .profile__info-container {
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .profile__info-container {
        margin-right: 30px;
    }
}

@media screen and (max-width: 650px) {
    .profile__info-container {
        max-width: 600px;
        margin: 26.25px 0 36px 0;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__info-container {
        max-width: 282px;
    }
}