.profile__avatar-overlay {
    min-width: 120px;
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color .5s linear;
}

.profile__avatar-overlay:hover {
    background-color: rgba(0, 0, 0, 1);
}